.pedido{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;


}

.dadosPedido{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  .carga{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width:370px) {
    .pedido{
    flex-direction: column;
    }
  }