.grid{
    max-height: 600px;
}

.header{
    background-color: rgb(107, 105, 105);
}

.header th{
    font-weight: bold;
    color: white;
}
/*  .body tr:active{
  background-color: #90db94 !important;
}
  */
.body tr td:nth-child(1){
    display: flex;
    justify-content: center;
    
}

.body tr img{

    width: 25px;

}

.body tr td{
    border-right: 1px solid  rgb(169, 169, 169);
    font-weight: bold;
   
}


.body tr:nth-child(odd){
    background-color: rgb(234, 233, 233);
}


