
.campo{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    max-width: 200px;
    gap: 2px;
    margin-bottom: 2px;
}


.campo input{
    border: none;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    font-weight: bold;
}