
.container{
    display: flex;
    gap: 5px;
}

.campo{
    display: flex;
    background-color: white;
    border-radius: 5px;
    gap: 2px;
    margin-bottom: 2px;
    flex-direction: column;
    max-width: 60px;
    padding: 3px;
}



.plusSub{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    flex: 1;
    gap: 5px;
}

.campo > label:first-child{
background-color:rgba(0, 0, 0, 0.952);
color: white;
text-align: center;

}


.plusSub img{
    width: 16px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}