.container{
    width: 100%;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.582);
}

.modal{
    flex: 1;
    border-radius: 5px;
    max-width: 700px;
    height: 400px;
    background-color: rgba(78, 78, 78, 0.932);
    border: solid 5px rgba(3, 3, 3, 0.685);
    padding: 20px;
    overflow-x: hidden;
    z-index: 1000;
}

.closeButton img{
  width: 40px;
}

.closeButton{
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 95%;
  z-index: 1001;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}


.modal::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem vertical */
}

.modal::-webkit-scrollbar-thumb {
  background-color: #383838; /* Cor do polegar */
  border-radius: 5px; /* Borda arredondada do polegar */
}
 

.modal::-webkit-scrollbar-track{
  background-color: #ffffff;
}




.modal h1{
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0; 
    text-align: center;
}

.modal button{
    margin: 0 auto;
}






   