.container {
  display: flex;
  justify-content: center;
  color: white;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}

.container input {
  display: flex;
}

.update {
  font-size: 0.9rem;
  background-color: black;
  padding: 2px 8px;
  border-radius: 10px;
  color: green;
}

.update span {
  color: rgb(238, 238, 238);
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
}
