
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  max-height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header img{
    width: 40px;
}

.buttons{
    display: flex;
    gap: 20px;
}


 h1 {
  flex: 2;
  color: #fff;
  font-size: 2.2rem;
  margin: 0 auto;
}

.selecionados{
  background-color: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  align-self: center;
}



@media (max-width:360px) {

  h1{
    text-align: center;
    font-size: 1.2rem;
  }
  .buttons{
    flex-direction: column;
  }
}