.container{
    padding: 20px;
 
}

.container h1{
    text-align: center;
}

.subPlus {
    display: flex;
    gap: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 1.1rem;
}

.subPlus img{
    width: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.trash{
    max-width: 22px;
    cursor: pointer;
    
}

.header{
background-color: #6b6969;
}

.header th{
    font-weight: bold;
    color: white;
}



@media (max-width: 350px) {
    .container h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}