.toast {
  position: absolute;
  animation: sobe 0.2s forwards;
}

.close {
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

@keyframes sobe {
  0% {
    top: 90%;
  }

  100% {
    top: 80%;
  }
}
