.toast{
    background-color: red;
    display: flex;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
    left: 72%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.438);
    animation: sobe .2s forwards;
}

.close{
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

@keyframes sobe {

    0%{
        top:90%
    }

    100%{
        top:80%
    }
    
}
